
<div class='wrapper edit'>

  <h2>登録情報を変更 <%= resource_name.to_s.humanize %></h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: 'form-controller' %>
    </div>
  
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-controller' %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>現在メールによる確認待ちです: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :password %> <i>(変更しない場合は空欄のままにしてください)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-controller' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> 文字以上</em>
      <% end %>
    </div>
  
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-controller' %>
    </div>
  
    <div class="form-group">
      <%= f.label :current_password %> <i>(確認のため現在のパスワードを入れてください)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-controller' %>
    </div>

    <div class="form-group">
      <%= f.label :profile %><br />
      <%= f.text_area :profile, class: 'form-controller' %>
    </div>

    <div class="form-group">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
  
    <div class="actions">
      <%= f.submit "変更", class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <div class='links'>
    <p>退会処理 <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "退会してよろしいですか?" }, method: :delete, class: "btn btn-danger" %></p>
  
    <%= link_to "Back", :back %>
  </div>
</div>