
<%= render 'partials/header', srchpath: search_tweets_path %>

<div class='container-fluid'>

  <div class='row main-row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8 col-xs-12 main-container'>

      
      <%= render 'partials/alert' %>

      <div class="timeline">

        <% if @tweet.user.id == current_user %>
          <%= render 'partials/new_tweet', t: @tweet, reply_to: false %>
        <% elsif current_user.admin? %>
          <div class='tweet-container'>
            <%= render 'partials/render_one_tweet', t: @tweet %>
          </div>
        <% end %>
    
        <div class='tweet-del-btn'>
          <%= button_to 'つぶやきを削除', tweet_path(id: @tweet.id), method: :delete, class: 'btn btn-danger', data: {confirm: '削除していいですか？'} %>
        </div>

      </div>
    </div>
    <div class='col-sm-2'></div>
    
  </div>    
</div>    
