
<div id="timeline">

  <%= render 'tweets/alert' %>

  <%= form_for @tweet do |f| %>
    <div class='form-group'>
      <%= f.text_area :content, rows: '2', placeholder: '（140文字以内で投稿）', class: 'form-control' %>
    </div>
    <%= f.submit '投稿', class: 'btn btn-primary' %>
  <% end %>

  <% @tweets.each do |tweet| %>
    <%= render 'tweets/per_tweet', t: tweet %>
  <% end %>
</div>

