
<%= render 'partials/header', srchpath: search_tweets_path %>

<div class='container-fluid'>

  <div class='row main-row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8 col-xs-12 main-container'>

      <%= render 'partials/alert' %>

      <div class='index-new-tweet'>
        <%= render 'partials/new_tweet', t: @tweet, reply_to: false, ajax_post: true, btn: '投稿' %>
      </div>

      <div class="timeline index">
      
        <%= render 'partials/config_options' %>
        
        <div class='tweet-box'>
          <% @first_tweets.each do |t| %>
            <div class='tweet-container'>
              <%= render 'partials/trace_tweets', t: t %>
            </div>
          <% end %>
        </div>
        
        <%= paginate @first_tweets %>
      </div>

    </div>
    <div class='col-sm-2'></div>
  </div>

</div>  
