
<div id="timeline">
  <div class='page-title'>
    <h1>Tweetie#index</h1>
  </div>

  <%= form_for @tweet do |f| %>

  <div class='form-group'>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <%= f.submit 'つぶやく', class: 'btn btn-primary' %>
  <% end %>

  <% @tweets.each do |tweet| %>
    <div class='tweet_content'>
      <%= tweet.content %>
    </div>
    <div class='user_name'>
      <%= tweet.user.name %>
    </div>
    <div class='tweet_show_link'>
      <%= link_to '詳細を見る', tweet_path(id: tweet.id) %>
      <% if tweet.user_id == current_user.id %>
        <%= link_to 'つぶやきを編集する', edit_tweet_path(id: tweet.id) %>
      <% end %>
    </div>
  <% end %>
</div>

