
<%= render 'partials/header', srchpath: tweets_path %>

<div class='container-fluid'>

  <div class='row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8 col-xs-12'>

      <div class="timeline">
      
        <%= render 'partials/alert' %>

        <%= render 'partials/new_tweet', t: @tweet %>

        <div class='tweet-container'>
          <% @tweets.each do |tweet| %>
            <%= render 'partials/per_tweet', t: tweet %>
          <% end %>
        </div>
        
        <%= paginate @tweets %>
      </div>

    </div>
    <div class='col-sm-2'></div>
  </div>

</div>  
