
<%= render 'partials/header', srch: true %>

<div class='container-fluid'>

  <div class='row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8 col-xs-12'>

      <div id="timeline">
      
        <%= render 'partials/alert' %>

        <div class='new-tweet-container'>
          <%= form_for @tweet do |f| %>
            <div class='form-group new-tweet-box'>
              <%= f.text_area :content, rows: '4', placeholder: '（140文字以内で投稿）', class: 'form-control' %>
            </div>
            <%= f.submit '投稿', class: 'btn submit-btn' %>
          <% end %>
        </div>
      
        <div class='tweet-container'>
          <% @tweets.each do |tweet| %>
            <%= render 'partials/per_tweet', t: tweet %>
          <% end %>
        </div>
        
        <%= paginate @tweets %>
      </div>

    </div>
    <div class='col-sm-2'></div>
  </div>

</div>  
