
<div class="wrapper tweet_show">
  <h1>Tweetie#index</h1>

  <div class='tweet_content'>
    <%= @tweet.content %>
  </div>
  <div class='user_name'>
    <%= @tweet.user.name %>
  </div>
  <div class='updated_at'>
    <%= @tweet.updated_at %>
  </div>
  <% if @tweet.user_id == current_user.id %>
    <div class='tweet_edit'>
      <%= link_to 'つぶやきを編集する', edit_tweet_path, id: current_user.id %>
    </div>
  <% end %>

  <%= link_to '戻る', root_path %>

</div>

