
<% if t.present? %>

  <div class='per-tweet row'>
    
    <div class='user-image col-xs-1'>
      <div class='prof-image-box'>
        <%= image_tag t.user.image_url, class: 'prof-image' %>
      </div>
    </div>

    <div class='user-tweet col-xs-11'>
      <div class='tweet-header'>

        <span class='user-name'>
          <%= link_to user_path(t.user.id) do %>
            @<%= t.user.name %>
          <% end %>
        </span>

        <span class='tweeted-datetime'>
          <%= link_to tweet_path(id: t.id) do %>
            ( <%= t.created_at.strftime("%Y-%m-%d %H:%M:%S") %> )
          <% end %>
        </span>
      </div>

      <div class='tweet-content'>
        <% if t.user_id == current_user.id %>
          <%= link_to edit_tweet_path(id: t.id) do %>
            <%= t.content %>
          <% end %>
        <% else %>
            <%= t.content %>
        <% end %>
        
      </div>
    </div>

  </div>

  <% t.retweets.each do |retweet| %>
    <div class='row'>
      <div class='col-xs-1'></div>
      <div class='col-xs-11'>
        <%= render 'partials/per_tweet', t: retweet, reply_to: t.id %>
      </div>
    </div>
  <% end %>

    

<% end %>
