
<!--ユーザープロファイル管理情報の表示(admin用)-->

<!--パーシャル変数:-->
<!-- u:描画するユーザーデータを保持したUserインスタンス-->



<div class='user-follow-status'>
  <%= link_to user_path(u.id) do %><%= u.tweets.count %><% end %>件のツイート　<br class='visible-xs-inline'>
  <%= link_to following_list_user_path(u.id) do %><%= u.following.count %><% end %>人をフォロー中　<br class='visible-xs-inline'>
  <%= link_to follower_list_user_path(u.id) do %><%= u.followers.count %><% end %>人のフォロワー
</div>

<% if current_user.admin? %>
  <span class='user-login-datetime'>
      最終ログイン日時：<br class='visible-xs-inline'>
      <%= u.current_sign_in_at.strftime("%Y-%m-%d %H:%M:%S") %><br />
  </span>
  <span class='user-login-datetime'>
      最終ログインIP：<br class='visible-xs-inline'>
      <%= u.last_sign_in_ip %><br />
  </span>
  <span class='user-login-datetime'>
      ログイン回数：<br class='visible-xs-inline'>
      <%= u.sign_in_count %><br />
  </span>
  <span class='user-login-datetime'>
      ロック状態：<br class='visible-xs-inline'>
      <%= u.access_locked? ? 'locked' : '-' %><br />
  </span>
<% end %>

