
<!--ユーザープロファイルの描画-->

<!--パーシャル変数:-->
<!-- u:描画するユーザーデータを保持したUserインスタンス-->

<div class='row user-profile'>
  
  <div class='user-image col-sm-3 col-xs-5'>
    <div class='prof-image-box'>
      <%= link_to user_path(u.id) do %>
        <%= image_tag u.image_url, class: 'prof-image' %>
      <% end %>
    </div>

    <div class='user_follow'>
      <% if u.id!=current_user.id %>
        <% if current_user.following?(u) %>
          <%= button_to "フォロー中", relationships_path(user_id: u.id), method: :post, class: "btn btn-warning" %>
        <% else %>
          <%= button_to "フォローする", relationships_path(user_id: u.id),  method: :post, class: "btn btn-info" %>
        <% end %>
      <% end %>
    </div>


  </div>

  <div class='user-prof col-sm-9 col-xs-7'>

    <div class='prof-header'>

      <span class='user-name'>
        <%= link_to user_path(u.id) do %>
          @<%= u.name %>
        <% end %>
        <% if u.admin? %>
          <span class='mark-admin'>ADMIN</span> 
        <% end %>
      </span>
      <% if current_user.admin? && !u.admin? %>
        <div class='user-lock-btn'>
          <% if u.access_locked? %>
            <%= button_to "ロック中", alt_lock_user_path(id: u.id), method: :post, class: "btn btn-danger" %>
          <% else %>
            <%= button_to "ロックする", alt_lock_user_path(id: u.id), method: :post, class: "btn btn-success" %>
          <% end %>
        </div>
      <% end %>

      <%= render 'partials/user_account_info', u: u %>

    </div>

      <div class='user-prof-text'>
        <div class='prof-title'>
          プロフィール
        </div>
        <div class='prof-body'>
          <%= u.profile %>
        </div>
      </div>

  </div>

</div>

  


