
<%= render 'partials/header', srchpath: user_path %>

<div class='container-fluid'>

  <div class='row main-row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8 col-xs-12 main-container'>

      <%= render 'partials/alert' %>

      <%= render 'partials/user_profile', u: @user %>

      <div class="timeline">
      
        <div class='tweet-box'>
          <% @tweets.each do |tweet| %>
            <div class='tweet-container'>
              <%= render 'partials/render_one_tweet', t: tweet %>
            </div>
          <% end %>
        </div>
        
        <%= paginate @tweets %>
      </div>

    </div>
    <div class='col-sm-2'></div>
  </div>

</div>  
